.center-content {
	text-align: center;
}

.choice:first-child > .danger {
    display: none;
}

.choice_template,
.date_template {
    display: none;
}

table.poll-results .result {
	text-align: center;
}

table.poll-results td.result-ko {
	background-color: #ffecec;
}

table.poll-results td.result-ok {
	background-color: #ddfcda; 
	color: #00b050;
}

.comments h1 { font-size: 1.4em; }
.comments h2 { font-size: 1.3em; }
.comments h3 { font-size: 1.2em; }
.comments h4 { font-size: 1.1em; }
