@(user: User, question: Question, choices: List[QuestionChoice], results: PollResults)

@main("Answer question: " + question.title) {
	@if(results.isAlreadyAnswered()) {
		<div class="well text-warning">
			You already answered this poll. You may update your answers if you wish.
		</div>
	}
	
	@tags.pollHeader(question.poll, true)
	
	@helper.form(action = routes.AnswerQuestion.answer(question.id)) {
		<table class="table table-bordered table-hover table-condensed poll-results">
			<thead>
			<tr>
				<th>Participants</th>
				@for(choice <- choices) {
					<th class="result">@choice.label</th>
				}
			</tr>
			</thead>
			<tbody>
				@for(username <- results.usernames) {
					@if(user != null && username.equals(user.username)) {
						<tr>
							<td class="username">@user.username</td>
							@for(choice <- choices) {
								@if(results.isCheckedChoice(username, choice.id)) {
									<td class="result answer result-ok">
										<input type="checkbox" name="choice_@choice.id" value="@choice.id" checked="checked"/>
									</td>
								} else {
									<td class="result answer result-ko">
										<input type="checkbox" name="choice_@choice.id" value="@choice.id" />
									</td>
								}
							}
						</tr>
					} else {
						<tr>
							<td>@username</td>
							@for(choice <- choices) {
								@if(results.isCheckedChoice(username, choice.id)) {
									<td class="result result-ok">&#10004;</td>
								} else {
									<td class="result result-ko"></td>
								}
							}
						</tr>
					}
				}
				<tr>
					<th>Totals</th>
					@for(choice <- choices) {
						<td class="result">
							@if(results.isBetterChoice(choice.id)) {
								<span class="badge badge-info">@results.total(choice.id)</span>
							} else {
								@results.total(choice.id)
							}
						</td>
					}
				</tr>
				@if(user != null && !results.isAlreadyAnswered()) {
					<tr class="info">
						<td class="username">@user.username</td>
						@for(choice <- choices) {
							<td class="result answer">
								<input type="checkbox" name="choice_@choice.id" value="@choice.id" />
							</td>
						}
					</tr>
				}
				@if(user == null) {
					<tr class="info">
						<td class="username">
							<input name="username" placeholder="Your name"/>
						</td>
						@for(choice <- choices) {
							<td class="result answer">
								<input type="checkbox" name="choice_@choice.id" value="@choice.id" />
							</td>
						}
					</tr>
				}
			</tbody>
		</table>
		
		@if(results.isAlreadyAnswered()) {
			<input class="btn btn-primary btn-large" value="Update" type="submit" />
		} else {
			<input class="btn btn-primary btn-large" value="Submit" type="submit" />
		}
	}
	
	<script type="text/javascript">
        $('.answer').live('click', function(e) {
        	$(this).find("input:checkbox").each(function(){ this.checked = !this.checked; });
        	return false;
        })
        $(".answer :checkbox").click(function(e) {
   			e.stopPropagation();
   			var val = $(this).val();
  		});
        $('td.username').live('click', function(e) {
        	$(this).children("input").first().focus();
        })
    </script>
}
