@(user: Option[User], question: Question, results: PollResults, formComment: Form[AnswerPoll.PollComment])

@import helper._
@import helper.twitterBootstrap._

@import util.user.message.Messages

@checkValue(choice: QuestionChoice, username: String, results: PollResults) = {
	@if(username != null && results.isCheckedChoice(username, choice.id)) { 
		checked="checked" 
	}
}

@tdClass(choice: QuestionChoice, username: String, results: PollResults) = {
	@if(username == null) {
		result answer
	} else {
		@if(results.isCheckedChoice(username, choice.id)) {
			result answer result-ok
		} else {
			result answer result-ko
		}
	}
}

@answerInput(choice: QuestionChoice, username: String, results: PollResults, singleChoice: Boolean) = {
	<td class="@tdClass(choice, username, results)">
		@if(singleChoice) {
			<input type="radio" name="choice" id="choice_@choice.id" value="@choice.id" @checkValue(choice, username, results) />
		} else {
			<input type="checkbox" name="choice_@choice.id" value="@choice.id" @checkValue(choice, username, results) />
		}
	</td>
}

@main(Messages.resolve("question.answer.name", question.title)) {
	@if(results.isAlreadyAnswered()) {
		<div class="well text-warning">
			@Messages.resolve("question.answer.already_answered_info")
		</div>
	}
	
	@tags.pollHeader(question.poll, true)
	
	@helper.form(action = routes.AnswerQuestion.answer(question.bindId)) {
		<table class="table table-bordered table-hover table-condensed poll-results">
			<thead>
			<tr>
				<th>@Messages.resolve("question.answer.participants")</th>
				@for(choice <- question.choices) {
					<th class="result">@choice.label</th>
				}
			</tr>
			</thead>
			<tbody>
				@for(username <- results.usernames) {
					@if(user.isDefined && username.equals(user.get.username)) {
						<tr>
							<td class="username">@tags.gravatar(user, 24) @user.get.username</td>
							@for(choice <- question.choices) {
								@answerInput(choice, username, results, question.singleAnswer)
							}
						</tr>
					} else {
						<tr>
							<td>@tags.gravatar(results.getUser(username), 24) @username</td>
							@for(choice <- question.choices) {
								@if(results.isCheckedChoice(username, choice.id)) {
									<td class="result result-ok">&#10004;</td>
								} else {
									<td class="result result-ko"></td>
								}
							}
						</tr>
					}
				}
				<tr>
					<th>@Messages.resolve("question.answer.totals")</th>
					@for(choice <- question.choices) {
						<td class="result">
							@if(results.isBetterChoice(choice.id)) {
								<span class="badge badge-info">@results.total(choice.id)</span>
							} else {
								@results.total(choice.id)
							}
						</td>
					}
				</tr>
				@if(user.isDefined && !results.isAlreadyAnswered()) {
					<tr class="info">
						<td class="username">@tags.gravatar(user, 24) @user.get.username</td>
						@for(choice <- question.choices) {
							@answerInput(choice, user.get.username, results, question.singleAnswer)
						}
					</tr>
				}
				@if(user.isEmpty) {
					<tr class="info">
						<td class="username">
							<input name="username" placeholder='@Messages.resolve("question.answer.placeholder.username")'/>
						</td>
						@for(choice <- question.choices) {
							@answerInput(choice, null, results, question.singleAnswer)
						}
					</tr>
				}
			</tbody>
		</table>
		
		@if(results.isAlreadyAnswered()) {
			<input class="btn btn-primary btn-large" value="Update" type="submit" />
		} else {
			<input class="btn btn-primary btn-large" value="Submit" type="submit" />
		}
	}
	
	@if(question.poll.comments != null && !question.poll.comments.isEmpty) {
		<div class="comments">
			@for(comment <- question.poll.comments) {
				<div class="comment well">
					<div class="comment-header">
						<span class="user">@comment.user.getDisplay</span>
						<span class="date pull-right">@comment.submitDate @if(comment.lastEditDate != null) { (@Messages.resolve("poll.comments.last_edited", comment.lastEditDate)) }</span>
					</div>
					<span class="comment-content">@comment.content</span>
				</div>
			}
		</div>
	}
	
	@helper.form(action = routes.AnswerPoll.comment(question.bindId)) {
		<fieldset>
			<legend>@Messages.resolve("poll.comments.legend")</legend>
			@if(user ==null) {
				@inputText(
			       	formComment("username"), 
			       	'_label -> Messages.resolve("poll.comments.field.username"),
			       	'_showContraints -> false,
			       	'class -> "input-xlarge"
		        )
			}
			@textarea(
	           	formComment("comment"), 
	           	'_label -> Messages.resolve("poll.comments.field.comment"),
	           	'_showContraints -> false,
	           	'class -> "input-xlarge"
	        )
	        
	        <div class="actions">
	        	<input type="submit" class="btn btn-primary" value='@Messages.resolve("common.action.post")'>
	            <a href="@routes.AnswerPoll.viewPoll(question.bindId)" class="btn btn-link">@Messages.resolve("common.action.cancel")</a>
	        </div>
		</fieldset>
	}
	
	<script type="text/javascript">
        $('.answer').live('click', function(e) {
        	$(this).find("input").each(function(){ this.checked = !this.checked; });
        	return false;
        })
        $(".answer input").click(function(e) {
   			e.stopPropagation();
   			var val = $(this).val();
  		});
        $('td.username').live('click', function(e) {
        	$(this).children("input").first().focus();
        })
    </script>
}
