@(pollForm: Form[Poll])

@import helper._
@import helper.twitterBootstrap._

@import util.user.message.Messages

@main(Messages.resolve("question.new.name")) {

    @helper.form(action = routes.CreatePoll.createQuestion(), 'id -> "form") {
        <fieldset>
            <legend>@Messages.resolve("question.new.legend")</legend>

            @inputText(
            	pollForm("title"), 
            	'_label -> Messages.resolve("question.new.field.title"),
            	'_showContraints -> false,
            	'class -> "input-xxlarge"
            )
            @textarea(
            	pollForm("description"), 
            	'_label -> Messages.resolve("question.new.field.description"),
            	'_showContraints -> false,
            	'class -> "input-xxlarge"
           	)
           	@tags.inputRadioGroup(
           		pollForm("singleAnswer"),
           		options = Seq("false"->Messages.resolve("common.label.yes"), "true"->Messages.resolve("common.label.no")),
           		'_label -> Messages.resolve("question.new.field.single_answer")
           	)
        </fieldset>

        <div class="actions">
            <input type="submit" class="btn btn-primary" value='@Messages.resolve("common.action.create")'>
        </div>
    }
}
