@(question: Question, questionForm: Form[Question])

@import helper._
@import helper.twitterBootstrap._

@choiceGroup(choice: Field, className: String = "choice") = {
    <div class="@className">
       <a class="remove-choice btn btn-danger btn-mini"><i class="icon-white icon-remove-sign"></i></a>
        <input name="choice[x].label" placeholder="Choice x" autocomplete="off" />
    </div>
}

@main("Add choices") {
    @helper.form(action = routes.CreateQuestion.saveChoices(question.id)) {
		<div class="header">
			<h1>@question.title</h1>
			<blockquote>
    			<p>@question.description</p>
    		</blockquote>
		</div>

        <fieldset>
            <legend>Choices</legend>
            <div id="choices">
            	<div class="manage">
                    <a class="add-choice btn btn-mini btn-inverse"><i class="icon-white icon-plus-sign"></i></a>
                </div>
                @repeat(questionForm("choices")) { choice =>
                    @choiceGroup(choice)
                }

                @** Keep an hidden block that will be used as template for Javascript copy code **@
                @choiceGroup(
                    questionForm("choices[x]"),
                    className = "choice_template"
                )
    			<div id="manage-bottom" class="manage">
                    <a class="add-choice btn btn-mini btn-inverse"><i class="icon-white icon-plus-sign"></i></a>
                </div>
            </div>
        </fieldset>

        <div class="actions">
            <input type="submit" class="btn btn-primary" value="Create" />
            <a href="/" class="btn btn-link">Cancel</a>
        </div>
    }

    <script type="text/javascript">
        $('.remove-choice').live('click', function(e) {
            $(this).parents('.choice').remove()
            renumber()
        })

        $('.add-choice').live('click', function(e) {
        	addChoice();
        })
        
        $('.last-input').live('keypress', function(e) {
        	// While input is not empty, "Tab" key press will add new input.
        	if (e.keyCode === 9 && $(this).val() != "") {
        		addChoice()
        	}
        })
        
        $('#form').submit(function() {
            $('.choice_template').remove()
        })

        function addChoice() {
        	var template = $('.choice_template')
            template.before('<div class="choice">' + template.html() + '</div>')
            renumber()
        }
        
        var renumber = function(choice) {
        	var count = 0;
            $('#choices').each(function(i) {
                $('input', this).each(function() {
                	count++
                    $(this).attr('name', $(this).attr('name').replace(/choice\[.+?\]/g, 'choice[' + count + ']'))
                    $(this).attr('placeholder', 'Choice ' + count)
                })
            })
            
            $('#choices .choice input:last').addClass("last-input")
            
            if (count > 10) {
            	$('#manage-bottom').show()
            } else {
            	$('#manage-bottom').hide()
            }
        }
        
        renumber()
    </script>
}
