@(poll: Poll, questionForm: Form[Question], locale: Option[String])

@import helper.repeat
@import util.user.message.Messages

@scripts = {
	<script src='@routes.I18nController.questionAddChoices()' type="text/javascript"></script>
	<script src='@routes.Assets.at("javascripts/question/question-add-choices.js")' type="text/javascript"></script>
}

@main(Messages.resolve("question.add_choices.name"), scripts) {
	<div ng-app ng-controller="QuestionAddChoiceCtrl">
		<div class="header">
			<h1>@poll.title</h1>
			<blockquote>
    			<p>@poll.description</p>
    		</blockquote>
		</div>

        <fieldset>
            <legend>@Messages.resolve("question.add_choices.legend")</legend>
            <div id="choices">
            	<h3>{{count()}} choices</h3>
            	<ol>
            		<li ng-repeat="choice in choices">
            			<a href="#" class="icon-remove-sign" ng-click="removeChoice({{choice}})"></a>
            			<span>{{choice.label}}</span>
            		</li>
            	</ol>
            	<form ng-submit="addChoice()">
            		<input type="text" ng-model="choiceText" size="30" placeholder="add new choice here">
            		<input class="btn-primary" type="submit" value="add">
            	</form>
            </div>
        </fieldset>
        
	    @helper.form(action = routes.CreateQuestion.saveChoices(poll.bindId)) {
	        <div class="actions">
	        	@* FIXME Post JSON object instead of emulated form *@
	        	<span ng-repeat="choice in choices">
	        		<input type="hidden" name="choice[{{choice.sortOrder}}].label" value="{{choice.label}}" />
	        	</span>
	            <a href="@routes.Application.index" class="btn btn-link">@Messages.resolve("common.action.cancel")</a>
	            <input type="submit" class="btn btn-primary" value='@Messages.resolve("common.action.create")' />
	        </div>
	    }
    </div>
}
