@(questionForm: Form[Question])

@import helper._
@import helper.twitterBootstrap._

@main("New question") {

    @helper.form(action = routes.CreateQuestion.createQuestion(), 'id -> "form") {
        <fieldset>
            <legend>Question details</legend>

            @inputText(
            	questionForm("title"), 
            	'_label -> "Title",
            	'_showContraints -> false,
            	'class -> "input-xxlarge"
            )
            @textarea(
            	questionForm("description"), 
            	'_label -> "Description",
            	'_showContraints -> false,
            	'class -> "input-xxlarge"
           	)
           	@tags.inputRadioGroup(
           		questionForm("singleAnswer"),
           		options = Seq("true"->"No","false"->"Yes"),
           		'_label -> "Users may select multiple choices"
           	)
        </fieldset>

        <div class="actions">
            <input type="submit" class="btn btn-primary" value="Create">
            <a href="@routes.Application.index" class="btn btn-link">Cancel</a>
        </div>
    }
}
