@(user: User, event: Event, results: PollResults)

@main("Answer event: " + event.title) {

	@tags.pollHeader(event.poll, true)
	
	@helper.form(action = routes.AnswerEvent.answer(event.id)) {
		<table class="table table-bordered table-hover table-condensed poll-results">
			<thead>
			<tr>
				<th>Participants</th>
				@for(date <- event.dates) {
					<th class="result">@date.date</th>
				}
			</tr>
			</thead>
			<tbody>
				@for(username <- results.usernames) {
					@if(user != null && username.equals(user.username)) {
						<tr>
							<td class="username">@user.username</td>
							@for(date <- event.dates) {
								@if(results.isCheckedChoice(username, date.id)) {
									<td class="result answer result-ok">
										<input type="checkbox" name="choice_@date.id" value="@date.id" checked="checked"/>
									</td>
								} else {
									<td class="result answer result-ko">
										<input type="checkbox" name="choice_@date.id" value="@date.id" />
									</td>
								}
							}
						</tr>
					} else {
						<tr>
							<td>@username</td>
							@for(date <- event.dates) {
								@if(results.isCheckedChoice(username, date.id)) {
									<td class="result result-ok">&#10004;</td>
								} else {
									<td class="result result-ko"></td>
								}
							}
						</tr>
					}
				}
				<tr>
					<th>Totals</th>
					@for(date <- event.dates) {
						<td class="result">
							@if(results.isBetterChoice(date.id)) {
								<span class="badge badge-info">@results.total(date.id)</span>
							} else {
								@results.total(date.id)
							}
						</td>
					}
				</tr>
				@if(user != null && !results.isAlreadyAnswered()) {
					<tr class="info">
						<td class="username">@user.username</td>
						@for(date <- event.dates) {
							<td class="result answer">
								<input type="checkbox" name="choice_@date.id" value="@date.id" />
							</td>
						}
					</tr>
				}
				@if(user == null) {
					<tr class="info">
						<td class="username">
							<input name="username" placeholder="Your name"/>
						</td>
						@for(date <- event.dates) {
							<td class="result answer">
								<input type="checkbox" name="date_@date.id" value="@date.id" />
							</td>
						}
					</tr>
				}
			</tbody>
		</table>
		
		@if(results.isAlreadyAnswered()) {
			<input class="btn btn-primary btn-large" value="Update" type="submit" />
		} else {
			<input class="btn btn-primary btn-large" value="Submit" type="submit" />
		}
	}
	
	<script type="text/javascript">
        $('.answer').live('click', function(e) {
        	$(this).find("input:checkbox").each(function(){ this.checked = !this.checked; });
        	return false;
        })
        $(".answer :checkbox").click(function(e) {
   			e.stopPropagation();
   			var val = $(this).val();
  		});
        $('td.username').live('click', function(e) {
        	$(this).children("input").first().focus();
        })
    </script>
}
