@(user: User, event: Event, results: PollResults, formComment: Form[AnswerPoll.PollComment])

@import helper._
@import helper.twitterBootstrap._

@checkValue(choice: EventChoice, username: String, results: PollResults) = {
	@if(username != null && results.isCheckedChoice(username, choice.id)) { 
		checked="checked" 
	}
}

@tdClass(choice: EventChoice, username: String, results: PollResults) = {
	@if(username == null) {
		result answer
	} else {
		@if(results.isCheckedChoice(username, choice.id)) {
			result answer result-ok
		} else {
			result answer result-ko
		}
	}
}

@answerInput(choice: EventChoice, username: String, results: PollResults, singleChoice: Boolean) = {
	<td class="@tdClass(choice, username, results)">
		@if(singleChoice) {
			<input type="radio" name="choice" id="choice_@choice.id" value="@choice.id" @checkValue(choice, username, results) />
		} else {
			<input type="checkbox" name="choice_@choice.id" value="@choice.id" @checkValue(choice, username, results) />
		}
	</td>
}

@main("Answer event: " + event.title) {

	@tags.pollHeader(event.poll, true)
	
	@helper.form(action = routes.AnswerEvent.answer(event.poll.bindId)) {
		<table class="table table-bordered table-hover table-condensed poll-results">
			<thead>
			<tr>
				<th>Participants</th>
				@for(date <- event.dates) {
					<th class="result">@date.date</th>
				}
			</tr>
			</thead>
			<tbody>
				@for(username <- results.usernames) {
					@if(user != null && username.equals(user.username)) {
						<tr>
							<td class="username">@tags.gravatar(user, 24) @user.username</td>
							@for(date <- event.dates) {
								@answerInput(date, username, results, event.singleAnswer)
							}
						</tr>
					} else {
						<tr>
							<td>@tags.gravatar(results.getUser(username), 24) @username</td>
							@for(date <- event.dates) {
								@if(results.isCheckedChoice(username, date.id)) {
									<td class="result result-ok">&#10004;</td>
								} else {
									<td class="result result-ko"></td>
								}
							}
						</tr>
					}
				}
				<tr>
					<th>Totals</th>
					@for(date <- event.dates) {
						<td class="result">
							@if(results.isBetterChoice(date.id)) {
								<span class="badge badge-info">@results.total(date.id)</span>
							} else {
								@results.total(date.id)
							}
						</td>
					}
				</tr>
				@if(user != null && !results.isAlreadyAnswered()) {
					<tr class="info">
						<td class="username">@tags.gravatar(user, 24) @user.username</td>
						@for(date <- event.dates) {
							@answerInput(date, user.username, results, event.singleAnswer)
						}
					</tr>
				}
				@if(user == null) {
					<tr class="info">
						<td class="username">
							<input name="username" placeholder="Your name"/>
						</td>
						@for(date <- event.dates) {
							@answerInput(date, null, results, event.singleAnswer)
						}
					</tr>
				}
			</tbody>
		</table>
		
		@if(results.isAlreadyAnswered()) {
			<input class="btn btn-primary btn-large" value="Update" type="submit" />
		} else {
			<input class="btn btn-primary btn-large" value="Submit" type="submit" />
		}
	}
	
	
	@if(event.poll.comments != null && !event.poll.comments.isEmpty) {
		<div class="comments">
			@for(comment <- event.poll.comments) {
				<div class="comment well">
					<div class="comment-header">
						<span class="user">@comment.user.getDisplay</span>
						<span class="date pull-right">@comment.submitDate @if(comment.lastEditDate != null) { (last edited on @comment.lastEditDate) }</span>
					</div>
					<span class="comment-content">@comment.content</span>
				</div>
			}
		</div>
	}
	
	@helper.form(action = routes.AnswerPoll.comment(event.poll.bindId)) {
		<fieldset>
			<legend>Post comment</legend>
			@if(user ==null) {
				@inputText(
			       	formComment("username"), 
			       	'_label -> "Your name",
			       	'_showContraints -> false,
			       	'class -> "input-xlarge"
		        )
			}
			@textarea(
	           	formComment("comment"), 
	           	'_label -> "Comment",
	           	'_showContraints -> false,
	           	'class -> "input-xlarge"
	        )
	        
	        <div class="actions">
	        	<input type="submit" class="btn btn-primary" value="Post">
	            <a href="@routes.AnswerPoll.viewPoll(event.poll.bindId)" class="btn btn-link">Cancel</a>
	        </div>
		</fieldset>
	}
	
	<script type="text/javascript">
        $('.answer').live('click', function(e) {
        	$(this).find("input").each(function(){ this.checked = !this.checked; });
        	return false;
        })
        $(".answer input").click(function(e) {
   			e.stopPropagation();
   			var val = $(this).val();
  		});
        $('td.username').live('click', function(e) {
        	$(this).children("input").first().focus();
        })
    </script>
}
