@(formEvent: Form[Event])

@import helper._
@import helper.twitterBootstrap._

@main("New event") {
	@helper.form(action = routes.CreateEvent.createEvent()) {
        <fieldset>
            <legend>Event details</legend>

            @inputText(
            	formEvent("title"), 
            	'_label -> "Title",
            	'_showContraints -> false,
            	'class -> "input-xxlarge"
            )
            @textarea(
            	formEvent("description"), 
            	'_label -> "Description",
            	'_showContraints -> false,
            	'class -> "input-xxlarge"
           	)
           	@inputRadioGroup(
           		formEvent("singleAnswer"),
           		options = Seq("true"->"No","false"->"Yes"),
           		'_label -> "Users may select multiple choices"
           	)
        </fieldset>

        <div class="actions">
            <input type="submit" class="btn btn-primary" value="Create">
            <a href="@routes.Application.index" class="btn btn-link">Cancel</a>
        </div>
    }
}