@(poll: Poll, formEvent: Form[Event], locale: Option[String])

@import helper._
@import helper.twitterBootstrap._

@import util.user.message.Messages

@scripts = {
	<link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/datepicker.css")'>
	<link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/event_add_dates.css")'>
	<script src='@routes.Assets.at("javascripts/bootstrap-datepicker.js")' type="text/javascript"></script>
	@if(locale.isDefined) {
		<script src='@routes.Assets.at("javascripts/locales/bootstrap-datepicker." + locale.get + ".js")' type="text/javascript"></script>
	}
}

@main(Messages.resolve("event.add_dates.name"), scripts) {
	
	@helper.form(action = routes.CreateEvent.saveDates(poll.bindId)) {
		<div class="header">
			<h1>@poll.title</h1>
			<blockquote>
	   			<p>@poll.description</p>
	   		</blockquote>
		</div>

		<fieldset>
		    <legend>@Messages.resolve("event.add_dates.legend")</legend>
		    
		    <div class="row">
		    	<div class="span6" id="datepicker"></div>
		     	<div class="span6" id="choices"></div>
		    </div>
		    
		</fieldset>

		<div class="actions">
		    <a href="@routes.Application.index" class="btn btn-link">@Messages.resolve("common.action.cancel")</a>
		    <input type="submit" class="btn btn-primary" value='@Messages.resolve("common.action.create")' />
		</div>
	}

    <script type="text/javascript">
	    $('#datepicker')
	    	.datepicker({
	    		startDate: startDate()
	    		@if(locale.isDefined) {, language: '@locale.get'}
			})
			.on('changeDate', function(ev){
				var locally_formatted_date = $('#datepicker').data('date');
				var selected_date = ev.date;
				var sort_format = formatForSort(selected_date);
				
				// Add date to list only if not already selected. 
				if ($('#' + sort_format).length == 0) {
		    		$('#choices:not(:has(ul))').append("<ul></ul>"); // Init list if not already done.
					$('#choices ul').append(
						'<li class="choice" id="' + sort_format + '">' + 
							'<a href="#" title="Remove"><i class="icon-trash remove-choice"></i></a> ' + locally_formatted_date + 
							'<input type="hidden" name="date_choice[x]" value="' + formatToISOFormat(selected_date) + '"/>' +
						'</li>'
					);
		    		organize();
				}
			});
    	
        $('.remove-choice').live('click', function(e) {
            $(this).parents('.choice').remove();
            organize()
        })
        
        var organize = function() {
        	// Sort items by ascending date.
        	var items = $('#choices ul').children('li').remove();
        	items.sort(function(a, b) {
        		return parseInt(a.id) > parseInt(b.id);
        	});
        	$('#choices ul').append(items); 
        	
        	// Renumber items.
        	var count = 0;
            $('#choices').each(function(i) {
                $('input[type=hidden]', this).each(function() {
                    $(this).attr('name', $(this).attr('name').replace(/date_choice\[.+?\]/g, 'date_choice[' + count + ']'))
                	count++
                })
            })
        }
        
        function startDate() {
        	var date = new Date();
        	date.setDate(date.getDate() - 1);
        	return date;
        }
        
        function formatToISOFormat(date) {
        	var day = date.getDate(); if (day < 10) { day = '0' + day};
        	var month = date.getMonth(); month++; if (month < 10) { month = '0' + month };
        	var year = date.getFullYear();
        	return year + '-' + month + '-' + day;
        }
        
        function formatForSort(date) {
        	var day = date.getDate(); if (day < 10) { day = '0' + day};
        	var month = date.getMonth(); month++; if (month < 10) { month = '0' + month };
        	var year = date.getFullYear();
        	return '' + year + month + day;
        }
    </script>
}
