@(user: Option[User], event: Event, results: PollResults, formComment: Form[AnswerPoll.PollComment])

@import helper._
@import helper.twitterBootstrap._

@import ui.util.UIUtil
@import util.user.message.Messages

@checkValue(choice: EventChoice, username: String, results: PollResults) = {
	@if(username != null && results.isCheckedChoice(username, choice.id)) { 
		checked="checked" 
	}
}

@tdClass(choice: EventChoice, username: String, results: PollResults) = {
	@if(username == null) {
		result answer
	} else {
		@if(results.isCheckedChoice(username, choice.id)) {
			result answer result-ok
		} else {
			result answer result-ko
		}
	}
}

@answerInput(choice: EventChoice, username: String, results: PollResults, singleChoice: Boolean) = {
	<td class="@tdClass(choice, username, results)">
		@if(singleChoice) {
			<input type="radio" name="choice" id="choice_@choice.id" value="@choice.id" @checkValue(choice, username, results) />
		} else {
			<input type="checkbox" name="choice_@choice.id" value="@choice.id" @checkValue(choice, username, results) />
		}
	</td>
}

@main(Messages.resolve("event.answer.name", event.title)) {

	@tags.pollHeader(event.poll, true)
	
	@helper.form(action = routes.AnswerEvent.answer(event.bindId)) {
		<table class="table table-bordered table-hover table-condensed poll-results">
			<thead>
			<tr>
				<th>@Messages.resolve("evant.answer.participants")</th>
				@for(date <- event.dates) {
					<th class="result">@UIUtil.formatDate(date.date)</th>
				}
			</tr>
			</thead>
			<tbody>
				@for(username <- results.usernames) {
					@if(user.isDefined && username.equals(user.get.username)) {
						<tr>
							<td class="username">@tags.gravatar(user, 24) @user.get.username</td>
							@for(date <- event.dates) {
								@answerInput(date, username, results, event.singleAnswer)
							}
						</tr>
					} else {
						<tr>
							<td>@tags.gravatar(results.getUser(username), 24) @username</td>
							@for(date <- event.dates) {
								@if(results.isCheckedChoice(username, date.id)) {
									<td class="result result-ok">&#10004;</td>
								} else {
									<td class="result result-ko"></td>
								}
							}
						</tr>
					}
				}
				<tr>
					<th>@Messages.resolve("evant.answer.totals")</th>
					@for(date <- event.dates) {
						<td class="result">
							@if(results.isBetterChoice(date.id)) {
								<span class="badge badge-info">@results.total(date.id)</span>
							} else {
								@results.total(date.id)
							}
						</td>
					}
				</tr>
				@if(user.isDefined && !results.isAlreadyAnswered()) {
					<tr class="info">
						<td class="username">@tags.gravatar(user, 24) @user.get.username</td>
						@for(date <- event.dates) {
							@answerInput(date, user.get.username, results, event.singleAnswer)
						}
					</tr>
				}
				@if(user.isEmpty) {
					<tr class="info">
						<td class="username">
							<input name="username" placeholder='@Messages.resolve("evant.answer.placeholder.username")'/>
						</td>
						@for(date <- event.dates) {
							@answerInput(date, null, results, event.singleAnswer)
						}
					</tr>
				}
			</tbody>
		</table>
		
		@if(results.isAlreadyAnswered()) {
			<input class="btn btn-primary btn-large" value='@Messages.resolve("common.action.update")' type="submit" />
		} else {
			<input class="btn btn-primary btn-large" value='@Messages.resolve("common.action.submit")' type="submit" />
		}
	}
	
	
	@tags.comments(event.bindId, event.poll.comments, formComment)
	
	<script type="text/javascript">
        $('.answer').live('click', function(e) {
        	$(this).find("input").each(function(){ this.checked = !this.checked; });
        	return false;
        })
        $(".answer input").click(function(e) {
   			e.stopPropagation();
   			var val = $(this).val();
  		});
        $('td.username').live('click', function(e) {
        	$(this).children("input").first().focus();
        })
    </script>
}
