@(uuid: util.binders.UuidBinder, comments: List[Comment], user: Option[User], formComment: Form[AnswerPoll.PollComment])

@import helper._
@import helper.twitterBootstrap._

@import ui.util.MDHelper
@import ui.util.UIUtil
@import util.user.message.Messages

@if(comments != null && !comments.isEmpty) {
	<div class="comments">
		@for(comment <- comments) {
			<div class="comment well">
				<div class="comment-header">
					<span class="user">@comment.user.getDisplay</span>
					<span class="date pull-right">@UIUtil.formatDateTime(comment.submitDate) @if(comment.lastEditDate != null) { (@Messages.resolve("poll.comments.last_edited", UIUtil.formatDateTime(comment.lastEditDate))) }</span>
				</div>
				<span class="comment-content">@MDHelper.process(comment.content)</span>
			</div>
		}
	</div>
}

@helper.form(action = routes.AnswerPoll.comment(uuid)) {
	<fieldset>
		<legend>@Messages.resolve("poll.comments.legend")</legend>
		@if(user.isEmpty) {
			@inputText(
		       	formComment("username"), 
		       	'_label -> Messages.resolve("poll.comments.field.username"),
		       	'_showContraints -> false,
		       	'class -> "input-xlarge"
	        )
		}
		@textarea(
           	formComment("comment"), 
           	'_label -> Messages.resolve("poll.comments.field.comment"),
           	'_showContraints -> false,
           	'class -> "input-xlarge"
        )
        
        <div class="actions">
        	<input type="submit" class="btn btn-primary" value='@Messages.resolve("common.action.post")'>
            <a href="@routes.AnswerPoll.viewPoll(uuid)" class="btn btn-link">@Messages.resolve("common.action.cancel")</a>
        </div>
	</fieldset>
}