@(poll: Poll)

@import ui.util.UIUtil;

<script type="text/javascript">
	$(document).ready(function() {
		$("#created-poll-url")
			.focus( function() { $(this).select(); } )
			.click( function() { $(this).select(); } )
			.mouseup( function(e) { e.preventDefault(); } );
	});
</script>

<div class="well">
	<span class="control-label info">Share your event URL to allow people to answer</span><br/>
	<span class="input-append control-group info">
		<input id="created-poll-url" class="poll_url inputInfo input-xlarge" type="text" value="@UIUtil.getFullUrl(routes.AnswerPoll.viewPoll(poll.bindId).url)" class="input-xlarge"/>
		<a href="@UIUtil.getFullUrl(routes.AnswerPoll.viewPoll(poll.bindId).url)" class="btn" rel="Answer poll">Go</a>
	</span>
</div>
