@(poll: Poll)

@import ui.util.UIUtil;
@import util.user.message.Messages

<div class="well">
	<span class="control-label info"><i class="icon-share"></i>&nbsp;@Messages.resolve("sharepoll.info")</span><br/>
	<span class="input-append control-group info">
		<input id="created-poll-url" class="poll_url inputInfo input-xlarge" type="text" value="@UIUtil.getFullUrl(routes.AnswerPoll.viewPoll(poll.bindId).url)" class="input-xlarge"/>
		<a href="@UIUtil.getFullUrl(routes.AnswerPoll.viewPoll(poll.bindId).url)" class="btn" rel="Answer poll">@Messages.resolve("sharepoll.action.go")</a>
	</span>
</div>

<script type="text/javascript">
	$(function() {
		$(document).ready(function() {
			$("#created-poll-url")
				.focus( function() { $(this).select(); } )
				.click( function() { $(this).select(); } )
				.mouseup( function(e) { e.preventDefault(); } );
		});
	})
</script>
