@** 
	Tag managing connected users.
 **@
 
@import ui.tags.UserManagement;
@import ui.util.UIUtil;
@import ui.util.Language;   
@import util.user.message.Messages

@if(UserManagement.isLoggedIn()) {
	<ul class="nav pull-right">
		<li class="dropdown">
			<a href="#" data-toggle="dropdown" class="dropdown-toggle">
				@if(UIUtil.displayGravatar) {
					<img src="@UIUtil.getGravatarUrl"/>
				}
				@UserManagement.getUserDisplay()
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu closed">
				<li>
					<a href="@routes.ViewPolls.userPolls">
						<i class="icon-list"></i> @Messages.resolve("user.polls")
					</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="@routes.UserSettings.profile">
						<i class="icon-user"></i> @Messages.resolve("user.profile")
					</a>
				</li>
				<li>
					<a href="@routes.Authentication.logout">
						<i class="icon-off"></i> @Messages.resolve("common.action.logout")
					</a>
				</li>
			</ul>
		</li>
	</ul>	
} else {
    <ul class="nav pull-right">
    	<li class="dropdown">
			<a href="#" data-toggle="dropdown" class="dropdown-toggle">
				<i class="icon-white icon-flag"></i> @Messages.resolve("user.language_select")
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu closed">
				@for(locale <- Language.availableLanguages) {
					<li>
						<a href="@routes.Application.changeLanguage(locale.toString, UIUtil.urlEncode(request))">
							<img src='@routes.Assets.at("images/flags/tiny/" + locale.getLanguage + ".png")' alt="@locale.getLanguage"/> @locale.getLanguage
							@if(Language.isCurrentLanguage(locale.getLanguage)) { <i class="icon-ok"></i> }
						</a>
					</li>
				}
			</ul>
		</li>
    </ul>
    <form class="navbar-form pull-right" action="@routes.Authentication.authenticate" method="POST">
	    <input name="username" type="text" class="span2" placeholder='@Messages.resolve("user.field.username")'>
	    <input name="password" type="password" class="span2" placeholder='@Messages.resolve("user.field.password")'>
	    <button type="submit" class="btn">@Messages.resolve("common.action.signin")</button>
	    <a class="btn btn-inverse" href="@routes.Authentication.register">@Messages.resolve("login.not_registered_inter")</a>
    </form>
}
