@(locales: List[java.util.Locale], formUserProfile: Form[UserSettings.UserProfile], formUserSecurity: Form[UserSettings.UserSecurity], templateLayout: controllers.model.user.UserProfileLayout)

@import util.user.message.Messages

@scripts = {
	<script src='@routes.Assets.at("javascripts/user/user-profile.js")' type="text/javascript"></script>
}

@main(Messages.resolve("profile.name"), scripts) {

	<div class="row">
		<!-- Navigation -->
		<div class="span3">
			<ul id="user-profile-tabs" class="nav nav-stacked nav-pills">
				<li class="active"><a href="#user-profile-informations">@Messages.resolve("profile.informations.legend")</a></li>
				@if(templateLayout.displayTabPasswordChange) {
					<li><a href="#user-profile-password">@Messages.resolve("profile.password.legend")</a></li>
				}
			</ul>
		</div>

		<!-- Content -->
		<div class="tab-content span8 offset1">
			<div id="user-profile-informations" class="tab-pane active">
			   	@profile.userProfileInformations(locales, formUserProfile, templateLayout)
			</div>
			@if(templateLayout.displayTabPasswordChange) {
				<div id="user-profile-password" class="tab-pane">
					@profile.userProfilePassword(formUserSecurity)
				</div>
			}
		</div>
	</div>
}
