@(locales: List[java.util.Locale], formUserProfile: Form[UserSettings.UserProfile], templateLayout: controllers.model.user.UserProfileLayout)

@import helper._
@import helper.twitterBootstrap._

@import ui.util.Language
@import util.user.message.Messages

@helper.form(action = routes.UserSettings.updateProfile(), 'id -> "formUserProfile") {
	<fieldset>
		<legend>@Messages.resolve("profile.informations.legend")</legend>
		@if(templateLayout.canChangeFieldEmailAddress) {
			@inputText(
				formUserProfile("email"), 
				'_label -> Messages.resolve("profile.informations.field.email"),
				'_showContraints -> false
			)
		} else {
			@inputText(
				formUserProfile("email"), 
				'_label -> Messages.resolve("profile.informations.field.email"),
				'_showContraints -> false,
				'readonly -> "readonly"
			)
		}
		@inputText(
			formUserProfile("displayName"), 
			'_label -> Messages.resolve("profile.informations.field.display_name"),
			'_showContraints -> false
		)
		@if(Language.displayLanguageSelection) {
			@select(
				formUserProfile("localeCode"),
				locales.map{
					l => l.toString -> (Messages.resolve("language.label." + l.getLanguage))
				},
				'_label -> Messages.resolve("profile.informations.field.lang"), 
				'_default -> ""
			)
		}
		@inputText(
			formUserProfile("avatarEmail"), 
			'_label -> Messages.resolve("profile.informations.field.avatar_email"),
			'_showContraints -> false
		)
	</fieldset>

	<div class="actions">
		<input type="submit" class="btn btn-primary" value='@Messages.resolve("common.action.update")'>
	</div>
}

<!-- Dialogs -->
<a href="#gravatar-tip-message" id="gravatar-tip-link" data-toggle="modal">
	<i class="icon-info-sign icon-large"></i>
</a>

<div id="gravatar-tip-message" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<h3>@Messages.resolve("profile.informations.tip.gravatar_info.title")</h3>
	</div>
	<div class="modal-body">
		<p>
			<i class="icon-info-sign"></i> @Messages.resolve("profile.informations.tip.gravatar_info.line_1")
		</p>
		<p>
			@Messages.resolve("profile.informations.tip.gravatar_info.line_2") <a href="https://www.gravatar.com" target="_blank">https://www.gravatar.com</a>.
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">@Messages.resolve("common.action.close_tip")</button>
	</div>
</div>

<script type="text/javascript">
	// Put modal info link info form.
	$(document).ready(function() {
		registerGravatarTipLink()
	});

	function registerGravatarTipLink() {
		$('#avatarEmail_field .help-inline').append($('#gravatar-tip-link'))
	}
</script>