@(event: Event, formEvent: Form[Event])

@import helper._
@import helper.twitterBootstrap._

@scripts = {
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/datepicker.css")">
	<script src="@routes.Assets.at("javascripts/bootstrap-datepicker.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/locales/bootstrap-datepicker.fr.js")" type="text/javascript"></script>
}

@main("Add dates", scripts) {
	
	@helper.form(action = routes.CreateEvent.saveDates(event.id)) {
		<div class="header">
			<h1>@event.title</h1>
			<blockquote>
    			<p>@event.description</p>
    		</blockquote>
		</div>

        <fieldset>
            <legend>Dates</legend>
            
            <div class="row">
            	<div class="span6" id="datepicker"></div>
            	<div class="span6" id="choices"></div>
            </div>
            
        </fieldset>

        <div class="actions">
            <input type="submit" class="btn btn-primary" value="Create" />
            <a href="/" class="btn btn-link">Cancel</a>
        </div>
    }
    
    <script type="text/javascript">
	    $('#datepicker')
	    	.datepicker({
		    	weekStart: 1,
		    	language: 'fr'
			})
			.on('changeDate', function(ev){
				initChoices();
				$('#choices').append('<li>' + ev.date + '</li>');
			});
	    
	    function initChoices() {
	    	$('#choices:not(:has(ul))').append("<ul></ul>");
	    }
    </script>
    
}
