@(event: Event, formEvent: Form[Event])

@import helper._
@import helper.twitterBootstrap._

@scripts = {
	<link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/datepicker.css")'>
	<link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/event_add_dates.css")'>
	<script src='@routes.Assets.at("javascripts/bootstrap-datepicker.js")' type="text/javascript"></script>
}

@main("Add dates", scripts) {
	
	@helper.form(action = routes.CreateEvent.saveDates(event.id)) {
		<div class="header">
			<h1>@event.title</h1>
			<blockquote>
	   			<p>@event.description</p>
	   		</blockquote>
		</div>

		<fieldset>
		    <legend>Dates</legend>
		    
		    <div class="row">
		    	<div class="span6" id="datepicker"></div>
		     	<div class="span6" id="choices"></div>
		    </div>
		    
		</fieldset>

		<div class="actions">
		    <input type="submit" class="btn btn-primary" value="Create" />
		    <a href="/" class="btn btn-link">Cancel</a>
		</div>
	}

    <script type="text/javascript">
	    $('#datepicker')
	    	.datepicker({
	    		startDate: startDate()
		    	// weekStart: 1
		    	//language: 'en'
			})
			.on('changeDate', function(ev){
				var selected_date = $('#datepicker').data('date');
	    		$('#choices:not(:has(ul))').append("<ul></ul>"); // Init list if not already done.
				$('#choices ul').append(
					'<li class="choice">' + 
						'<a href="#" title="Remove"><i class="icon-trash remove-choice"></i></a> ' + selected_date + 
						'<input type="hidden" name="date_choice[x]" value="' + selected_date + '"/>' +
					'</li>'
				);
	    		renumber();
			});
    	
        var renumber = function() {
        	var count = 0;
            $('#choices').each(function(i) {
                $('input[type=hidden]', this).each(function() {
                    $(this).attr('name', $(this).attr('name').replace(/date_choice\[.+?\]/g, 'date_choice[' + count + ']'))
                	count++
                })
            })
        }
        
        $('.remove-choice').live('click', function(e) {
            $(this).parents('.choice').remove();
            renumber()
        })
        
        function startDate() {
        	var date = new Date();
        	date.setDate(date.getDate() - 1);
        	return date;
        }
    </script>
    
}
