@import util.user.message.Messages

@main(Messages.resolve("home.name")) {
	<h1>@Messages.resolve("home.h1")</h1>
	<div class="row-fluid">
	 <div class="well span6 center-content">
	 	<a href="@routes.CreatePoll.newQuestion">
	 		<span class="index-icon"><i class="icon-bar-chart"></i></span>
	 		<span class="index-button">
	 			<span class="btn btn-primary btn-large" id="create-poll">@Messages.resolve("home.create_classic_poll")</span>
 			</span>
	 	</a>
	 </div>
	 <div class="well span6 center-content">
	 	<a href="@routes.CreatePoll.newEvent">
	 		<span class="index-icon"><i class="icon-calendar"></i></span>
	 		<span class="index-button">
	 			<span class="btn btn-primary btn-large" id="plan-event">@Messages.resolve("home.plan_event")</span>
	 		</span>
	 	</a>
		</div>
	</div>
	
	<div>
		<strong>@Messages.resolve("home.development")</strong> <a href="@routes.ViewPolls.polls">@Messages.resolve("home.list_all_polls")</a>
	</div>
}
