@main("Home") {

    <div class="hero-unit">
        <h1>Welcome to ProtoPoll!</h1>
        <p>This application has been created to test Play! framework. Let's see how it works!</p>
        <p>It is the opportunity to use Twitter Bootstrap too. Oh yeah.</p>
        <a class="btn btn-primary btn-large" href="http://www.playframework.org/">Learn more about Play! »</a>
        <a class="btn btn-large" href="http://twitter.github.com/bootstrap/">Learn more about Twitter Bootstrap »</a>
    </div>

    <div class="row">
        <div class="span4">
            <h2>New poll</h2>
            <p>In this section, you will be able to create a new poll.</p>
            <a href="/poll/new" class="btn">Let's poll</a>
        </div>
		<div class="span4">
            <h2>Answer poll</h2>
            <p>List all available polls and answer the one you'd like.</p>
            <a href="/polls" class="btn">Let's poll</a>
        </div>
    </div>
}
