@(polls: List[Poll])

@import ui.util.UIUtil;
@import util.binders.UuidBinder;
@import util.user.message.Messages

@scripts = {
	<script src='@routes.Assets.at("javascripts/tsort.min.js")' type="text/javascript"></script>
}

@main(Messages.resolve("listpolls.name"), scripts) {

	<table id="polls" class="table">
		<thead>
			<tr>
				<th class="span1">@Messages.resolve("listpolls.table.header.type")</th>
				<th class="span2">@Messages.resolve("listpolls.table.header.creation_date")</th>
				<th class="span9">@Messages.resolve("listpolls.table.header.title")</th>
			</tr>
		</thead>
	    @for(poll <- polls) {
	    	<tr>
	    		<td data-sortAs="@if(poll.isEvent) { E } else { Q }">
    				@if(poll.isEvent) {
    					<i class="icon-calendar"></i>
    				}
    				@if(poll.isQuestion) {
    					<i class="icon-question-sign"></i>
    				}
	    		</td>
	    		<td data-sortAs="@UIUtil.formatDateTimeSortable(poll.creationDate)">
	    			@UIUtil.formatDateTime(poll.creationDate)
    			</td>
	    		<td>
	    			<span class="pull-right">
	    				<a href="@routes.AnswerPoll.viewPoll(poll.bindId)" title='@Messages.resolve("listpolls.table.link.view_poll")'><i class="icon-eye-open icon-large"></i></a>
	    			</span>
	    			@poll.title
    			</td>
	    	</tr>
	    }
	</table>
	
	<script type="text/javascript">
		@** 
			More parameters: 
				http://www.matanhershberg.com/plugins/jquery-animated-table-sorter/settings/
		**@
		$(function() {
			$(document).ready(function() {
				$('#polls').tableSort( {
					speed: 250
				} )
			});
		})
	</script>
}
