@(loginForm: Form[Authentication.Login])

@import helper._
@import helper.twitterBootstrap._

@main("Login") {

	<div class="well well-small">
		Not registered? <a href="@routes.Authentication.register">Create account now!</a>
	</div>

	@helper.form(action = routes.Authentication.authenticate()) {
		<fieldset>
			<legend>Sign in</legend>
			@inputText(
		       	loginForm("username"), 
		       	'_label -> "User name",
		       	'_showContraints -> false,
		       	'class -> "input-xlarge"
	        )
	        @inputPassword(
		       	loginForm("password"), 
		       	'_label -> "Password",
		       	'_showContraints -> false,
		       	'class -> "input-xlarge"
	        )
	
	        <div class="actions">
	            <input type="submit" class="btn btn-primary" value="Login">
	            <a href="@routes.Application.index" class="btn btn-link">Cancel</a>
	        </div>
		</fieldset>
	}
}
