@(pollForm: Form[Poll])

@import helper._
@import helper.twitterBootstrap._

@choiceGroup(field: Field, className: String = "choice") = {
    <div class="@className">
        <input name="label" placeholder="Choice"/>
        <a class="removeChoice btn btn-danger btn-mini">Remove this choice</a>
    </div>
}

@main("New poll") {

    @if(pollForm.hasErrors) {
        <div class="alert-message error">
            <p><strong>Oops</strong> Please fix all errors</p>
        </div>
    }

    @helper.form(action = routes.EditPoll.createPoll(), 'id -> "form") {
        <fieldset>
            <legend>Poll details</legend>

            @inputText(
            	pollForm("title"), 
            	'_label -> "Title",
            	'_showContraints -> false
            )
            @textarea(
            	pollForm("description"), 
            	'_label -> "Description",
            	'_showContraints -> false
           	)
        </fieldset>

        <div class="actions">
            <input type="submit" class="btn btn-primary" value="Create">
            <a href="@routes.Application.index" class="btn btn-link">Cancel</a>
        </div>
    }
}
