@(registrationForm: Form[Authentication.Registration])

@import helper._
@import helper.twitterBootstrap._

@import util.user.message.Messages

@main(Messages.resolve("register.name")) {

	@helper.form(action = routes.Authentication.saveRegistration()) {
		<fieldset>
			<legend>Registration form</legend>
			@inputText(
		       	registrationForm("username"), 
		       	'_label -> Messages.resolve("register.field.username"),
		       	'_showContraints -> true
	        )
	        @inputPassword(
		       	registrationForm("password"), 
		       	'_label -> Messages.resolve("register.field.password"),
		       	'_showContraints -> true
	        )
	        @inputPassword(
		       	registrationForm("passwordConfirm"), 
		       	'_label -> Messages.resolve("register.field.password_confirmation"),
		       	'_showContraints -> true
	        )
	        @inputText(
		       	registrationForm("email"), 
		       	'_label -> Messages.resolve("register.field.email"),
		       	'_showContraints -> true
	        )
	        <div class="actions">
	            <input type="submit" class="btn btn-primary" value='@Messages.resolve("common.action.signup")'>
	            <a href="@routes.Application.index" class="btn btn-link">@Messages.resolve("common.action.cancel")</a>
	        </div>
        </fieldset>
	}

}