@(locales: List[java.util.Locale], formUserProfile: Form[UserSettings.UserProfile], formUserSecurity: Form[UserSettings.UserSecurity]) 

@import helper._
@import helper.twitterBootstrap._

@import util.user.message.Messages

@main(Messages.resolve("profile.name")) {

    <div class="row-fluid">
    	<div class="span6 well">
		   	@helper.form(action = routes.UserSettings.updateProfile(), 'id -> "formUserProfile") {
		        <fieldset>
		            <legend>@Messages.resolve("profile.informations.legend")</legend>
					@inputText(
		            	formUserProfile("displayName"), 
		            	'_label -> Messages.resolve("profile.informations.field.display_name"),
		            	'_showContraints -> false
		            )
		            @inputText(
		            	formUserProfile("email"), 
		            	'_label -> Messages.resolve("profile.informations.field.email"),
		            	'_showContraints -> false
		            )
		            @select(
   						formUserProfile("localeCode"),
 						locales.map{
   							l => l.toString -> (l.getLanguage)
   						},
   						'_label -> Messages.resolve("profile.informations.field.lang"), 
   						'_default -> ""
					)
		        </fieldset>
		
		        <div class="actions">
		            <input type="submit" class="btn btn-primary" value='@Messages.resolve("common.action.update")'>
		            <a href="@routes.Application.index" class="btn btn-link">@Messages.resolve("common.action.cancel")</a>
		        </div>
		    }
		</div>
		<div class="span6 well">
			@helper.form(action = routes.UserSettings.updatePassword(), 'id -> "formUserSecurity") {
		        <fieldset>
		            <legend>@Messages.resolve("profile.password.legend")</legend>
		
		           @inputPassword(
				       	formUserSecurity("oldPassword"), 
				       	'_label -> Messages.resolve("profile.password.current"),
				       	'_showContraints -> true
			        )
			        @inputPassword(
				       	formUserSecurity("password1"), 
				       	'_label -> Messages.resolve("profile.password.new"),
				       	'_showContraints -> true
			        )
			        @inputPassword(
				       	formUserSecurity("password2"), 
				       	'_label -> Messages.resolve("profile.password.confirm_new"),
				       	'_showContraints -> true
			        )
		        </fieldset>
		
		        <div class="actions">
		            <input type="submit" class="btn btn-primary" value='@Messages.resolve("common.action.update")'>
		            <a href="@routes.Application.index" class="btn btn-link">@Messages.resolve("common.action.cancel")</a>
		        </div>
		    }
		</div>
	</div>
}
