@(formUserProfile: Form[UserSettings.UserProfile], formUserSecurity: Form[UserSettings.UserSecurity]) 

@import helper._
@import helper.twitterBootstrap._

@main("Profile") {

    <div class="row-fluid">
    	<div class="span6 well">
		   	@helper.form(action = routes.UserSettings.updateProfile(), 'id -> "formUserProfile") {
		        <fieldset>
		            <legend>Your informations</legend>
					@inputText(
		            	formUserProfile("displayName"), 
		            	'_label -> "You name",
		            	'_showContraints -> false
		            )
		            @inputText(
		            	formUserProfile("email"), 
		            	'_label -> "E-mail",
		            	'_showContraints -> false
		            )
		        </fieldset>
		
		        <div class="actions">
		            <input type="submit" class="btn btn-primary" value="Update">
		            <a href="@routes.Application.index" class="btn btn-link">Cancel</a>
		        </div>
		    }
		</div>
		<div class="span6 well">
			@helper.form(action = routes.UserSettings.updatePassword(), 'id -> "formUserSecurity") {
		        <fieldset>
		            <legend>Change your password</legend>
		
		           @inputPassword(
				       	formUserSecurity("oldPassword"), 
				       	'_label -> "Current password",
				       	'_showContraints -> true
			        )
			        @inputPassword(
				       	formUserSecurity("password1"), 
				       	'_label -> "Desired password",
				       	'_showContraints -> true
			        )
			        @inputPassword(
				       	formUserSecurity("password2"), 
				       	'_label -> "Confirm desired password",
				       	'_showContraints -> true
			        )
		        </fieldset>
		
		        <div class="actions">
		            <input type="submit" class="btn btn-primary" value="Update">
		            <a href="@routes.Application.index" class="btn btn-link">Cancel</a>
		        </div>
		    }
		</div>
	</div>
}
